html,body
{
    height:100%;
    box-sizing:border-box
}

body
{
    padding-top:40px
}

body,body *
{
    font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight:300
}

.table,.table th,.table td
{
    text-align:center
}

.table td.left
{
    text-align:left
}

.sortable:hover
{
    cursor:pointer;
    text-decoration:underline
}

footer
{
    position:fixed;
    bottom:0;
    right:0;
    width:100%
}

.container
{
    position:relative
}

.alertWrapper
{
    float:right;
    width:240px;
    z-index:2
}

footer .alert
{
    opacity:.3;
    -webkit-transition:opacity 300ms ease-in-out;
    -moz-transition:opacity 300ms ease-in-out;
    -ms-transition:opacity 300ms ease-in-out;
    -o-transition:opacity 300ms ease-in-out;
    transition:opacity 300ms ease-in-out
}

;
footer .alert:hover
{
    opacity:1
}

select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input
{
    height:34px;
    font-size:17px;
    line-height:20px
}

.noselect
{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:-moz-none;
    -ms-user-select:none;
    user-select:none
}
