body
{
    padding-top:40px
}

body,body *
{
    font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight:300
}

.passw {
   color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.passw:hover {
   color: #222;
   text-shadow: none;
}

/*.card {
    padding-top: 1px;
}*/

.alert {
    margin-top: -1px;
}